<!DOCTYPE html>
<html lang="en" dir="ltr">

<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>$title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <link rel="preload" href="/static/fonts/locales/ZillaSlab-Regular.subset.bbc33fb47cf6.woff2" as="font"
        type="font/woff2" crossorigin />
    <link rel="preload" href="/static/fonts/locales/ZillaSlab-Bold.subset.e96c15f68c68.woff2" as="font"
        type="font/woff2" crossorigin />
    <link rel="home" href="/">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css" />
    <style>
        html,
        body {
            font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
        }

        h2 {
            font-size: 2em;
        }

        ul,
        li {
            margin: 0;
            padding: 0;
        }

        ul,
        li,
        p {
            line-height: 1.4;
        }

        strong,
        b,
        em {
            font-weight: 400;
        }
    </style>
</head>

<body class="pa4 pl6-l sans fw8">
    $content
</body>

</html>